.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 4%;
  margin-left: 4%;
}

.owner{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.charity{
  display: flex;
  justify-content: center;
}

.create{
  display: flex;
  justify-content: center;
}

.button{
  width: 50%;
}

.donate{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.destroyButton{
  margin-top: 10%;
  width: 50%;
}
