<body class="mat-app-background"><mat-sidenav-container>
<div class="root-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="titolo" (click)="refresh()"><a href style="color: white; text-decoration: none;">{{title}}</a></h1> <h4 class="account"><span class="showAccount" [hidden]="connected"></span></h4><div class="admin">{{tmpAddr}}</div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div [hidden]="!connected">
  <div class="button-container">
    <button mat-flat-button color="primary" class="connectMetamask">Connect to MetaMask</button>
  </div>
</div>

<router-outlet></router-outlet>

</mat-sidenav-container></body>
